USE [master]
GO
/****** Object:  Database [StudentCommunityDb]    Script Date: 9.01.2026 14:35:41 ******/
CREATE DATABASE [StudentCommunityDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentCommunityDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\StudentCommunityDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudentCommunityDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\StudentCommunityDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentCommunityDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentCommunityDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9.01.2026 14:35:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Abouts]    Script Date: 9.01.2026 14:35:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abouts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Mission] [nvarchar](max) NOT NULL,
	[Vision] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Abouts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminUsers]    Script Date: 9.01.2026 14:35:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_AdminUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 9.01.2026 14:35:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[EventDate] [datetime2](7) NOT NULL,
	[PosterUrl] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Location] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HomeContents]    Script Date: 9.01.2026 14:35:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomeContents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Key] [nvarchar](max) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_HomeContents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 9.01.2026 14:35:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[Order] [int] NOT NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiteTexts]    Script Date: 9.01.2026 14:35:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiteTexts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Key] [nvarchar](max) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SiteTexts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260108183839_InitialCreate', N'8.0.22')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260108185147_AddAboutTable', N'8.0.22')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260108190358_AddSiteTextTable', N'8.0.22')
GO
SET IDENTITY_INSERT [dbo].[Abouts] ON 

INSERT [dbo].[Abouts] ([Id], [Description], [Mission], [Vision]) VALUES (1, N'Topluluğumuz, teknoloji, sanat ve sosyal sorumluluk alanlarında projeler üreten, üniversitemizin en dinamik öğrenci yapısıdır. Birlikte öğrenmeyi ve gelişmeyi esas alırız.', N'Öğrencilerin akademik bilgilerini pratiğe dökebilecekleri, sosyal ağlarını genişletebilecekleri ve sektöre hazırlanabilecekleri özgür bir ortam yaratmak.', N'Ulusal ve uluslararası düzeyde projeler üreten, sürdürülebilir ve yenilikçi yapısıyla örnek gösterilen bir topluluk olmak.')
SET IDENTITY_INSERT [dbo].[Abouts] OFF
GO
SET IDENTITY_INSERT [dbo].[AdminUsers] ON 

INSERT [dbo].[AdminUsers] ([Id], [Username], [Password]) VALUES (1, N'admin', N'123456')
SET IDENTITY_INSERT [dbo].[AdminUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([Id], [Title], [Description], [EventDate], [PosterUrl], [IsActive], [Location]) VALUES (3, N'Büyük Tanışma Toplantısı', N'Yeni döneme harika bir başlangıç yapıyoruz! Topluluğumuza yeni katılan arkadaşlarla tanışmak, projelerimizden bahsetmek ve ekiplerimizi oluşturmak için seni de bekliyoruz.', CAST(N'2026-03-20T14:00:00.0000000' AS DateTime2), N'https://images.unsplash.com/photo-1523580494863-6f3031224c94?q=80&w=1000&auto=format&fit=crop', 1, N'Mühendislik Fakültesi - Konferans Salonu')
INSERT [dbo].[Events] ([Id], [Title], [Description], [EventDate], [PosterUrl], [IsActive], [Location]) VALUES (4, N'Web Geliştirme Kampı', N'React ve .NET Core kullanarak sıfırdan bir proje geliştireceğiz. Yazılım dünyasına adım atmak isteyenler için kaçırılmayacak bir fırsat.', CAST(N'2026-03-25T10:30:00.0000000' AS DateTime2), N'https://images.unsplash.com/photo-1531482615713-2afd69097998?q=80&w=1000&auto=format&fit=crop', 1, N'Bilgisayar Lab - 2')
INSERT [dbo].[Events] ([Id], [Title], [Description], [EventDate], [PosterUrl], [IsActive], [Location]) VALUES (5, N'Yapay Zeka Söyleşisi', N'Geleceğin teknolojisi yapay zeka hakkında sektörden uzman konuklarımızla harika bir söyleşi gerçekleştireceğiz.', CAST(N'2026-04-05T15:00:00.0000000' AS DateTime2), N'https://images.unsplash.com/photo-1677442136019-21780ecad995?q=80&w=1000&auto=format&fit=crop', 1, N'Online (Zoom)')
SET IDENTITY_INSERT [dbo].[Events] OFF
GO
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([Id], [Name], [Title], [ImageUrl], [Order]) VALUES (1, N'Ahmet Yılmaz', N'Topluluk Başkanı', N'https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?q=80&w=1000&auto=format&fit=crop', 1)
INSERT [dbo].[Members] ([Id], [Name], [Title], [ImageUrl], [Order]) VALUES (2, N'Ayşe Demir', N'Başkan Yardımcısı', N'https://images.unsplash.com/photo-1534528741775-53994a69daeb?q=80&w=1000&auto=format&fit=crop', 2)
INSERT [dbo].[Members] ([Id], [Name], [Title], [ImageUrl], [Order]) VALUES (3, N'Mehmet Kaya', N'Genel Sekreter', N'https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?q=80&w=1000&auto=format&fit=crop', 3)
SET IDENTITY_INSERT [dbo].[Members] OFF
GO
SET IDENTITY_INSERT [dbo].[SiteTexts] ON 

INSERT [dbo].[SiteTexts] ([Id], [Key], [Value]) VALUES (1, N'navbar.title', N'Konya Teknik Topluluğu')
INSERT [dbo].[SiteTexts] ([Id], [Key], [Value]) VALUES (2, N'home.hero.title', N'Bir Fikirle Başlar')
INSERT [dbo].[SiteTexts] ([Id], [Key], [Value]) VALUES (3, N'home.hero.subtitle', N'Öğrenciler tarafından kurulan, fikir üretmeyi ve birlikte gelişmeyi merkezine alan bir yapı.')
SET IDENTITY_INSERT [dbo].[SiteTexts] OFF
GO
ALTER TABLE [dbo].[Events] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Events] ADD  DEFAULT (N'') FOR [Location]
GO
USE [master]
GO
