.contact-page {
    background-color: #000;
    color: #fff;
    min-height: 80vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;
    background: #111;
    border: 1px solid #222;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 40px rgba(0,0,0,0.5);
}

/* SOL TARAF */
.contact-info {
    flex: 1;
    padding: 40px;
    background: linear-gradient(135deg, #1a1a1a, #000);
    min-width: 300px;
}

    .contact-info h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        color: #fff;
    }

.contact-desc {
    color: #aaa;
    margin-bottom: 30px;
    line-height: 1.6;
}

.info-item {
    margin-bottom: 15px;
    font-size: 1.1rem;
}

    .info-item strong {
        color: #b52525; 
        margin-right: 10px;
    }

//sag taraf
.contact-form {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 300px;
}

    .contact-form input,
    .contact-form textarea {
        background: #222;
        border: 1px solid #333;
        padding: 15px;
        color: white;
        border-radius: 8px;
        font-family: inherit;
    }

    .contact-form button {
        background: #b52525;
        color: white;
        border: none;
        padding: 15px;
        font-weight: bold;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.3s;
    }

        .contact-form button:hover {
            background: #d63030;
        }
